[submodule "LoRaMac-node"]
	path = LoRaMac-node
	url = https://github.com/Lora-net/LoRaMac-node.git
[submodule "libraries/LoRa"]
	path = libraries/LoRa
	url = https://github.com/sandeepmistry/arduino-LoRa.git
